body{
    background-color: #2271b3 ;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#main-container{
    width: 30%;
    padding: 3%;
    background-color:white;
    border-radius: 7%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}


#main-container > input{
    border-radius: 7px;
    margin: 5%;
}

#main-container > form > input{
    border-radius: 7px;
    margin: 5%;
}

#main-container > form > button{
    margin-bottom: 5%;
}

#main-container > button{
    margin-bottom: 5%;;
}