.container {
    width: 80%;
    padding: 3%;
    background-color:white;
    border-radius: 7%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 5px;
}

.tarea {
    background-color:#a3e2d0
}

.editar {
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
    margin: 5px;
}

.eliminar {
    background-color: red;
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}